:root{
    --links:#6b72ff;

    --category-color:#FFE16B;
    --tag-color:#FFC978;
    --bg-secondary: #f6f6f7;
    --bg-primary: #fdfdfd;

    --text-primary: #3c3c43;
    --text-muted: #6b6b70;
}

/* prefer dark theme */

@media (prefers-color-scheme: dark) {
    :root {
        --bg-secondary: #161618;
        --bg-primary: #1e1e20;

        --text-primary: #dfdfd6;
        --text-muted: #828288;

    }
}
