---

---

<footer>
	Hecho con ❤ y <a href="https://astro.build/">Astro</a>. Por <a href="https://twitter.com/altaskur">Altaskur</a> 
</footer>
<style>
	footer {
		padding: 25px;
		text-align: center;
	}
	a:link{
		font-weight: 800;
		text-decoration: none;
	}
</style>
