---
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'a'>;

const { href, class: className, ...props } = Astro.props;

const { pathname } = Astro.url;
const isActive = href === pathname || href === pathname.replace(/\/$/, '');
---

<a href={href} class:list={[className, { active: isActive }]} {...props}>
	<slot />
</a>
<style>
	a {
		display: inline-block;
		text-decoration: none;
		border: 1px solid var(--text-primary);
        border-width: 1px 1px 1px 1px;
        border-radius: 5px;
		padding: 0.5rem 1rem;
		margin: 0px 3px 3px 0px;
		color: var(--text-primary) !important;
	}
	a:hover,
	a:active{
		border-width: 1px 4px 4px 1px;
		margin: 0px 0px 0px 0px;
	}
	a:hover {
		color:#3c3c43 ;
	}
	a.active {
		font-weight: bolder;
	}

</style>
